.main-container{
  display: grid;
  /* grid-template-columns: 300px 1fr; */
  grid-template-rows: auto 1fr ; 
  grid-template-areas: "nav" "body";
  min-height: 100vh;

}

.body{
  grid-area: body;
}

.navbar{
  grid-area: nav;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}
.layout{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar content";
}
.sideBar{
  grid-area: sidebar;

}

.content{
  grid-area: content;
  width: 100%;
  min-height: 100vh;
  padding: 1.3rem 2rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.main-content-heading{
  text-align: center;
}

.editBtn {
  background-color: var(--light-color); 
  color: white; 
  border: none; 
  cursor: pointer;  
  transition: ease-in 0.3s;
}

.editBtn .icon{
  width: 25px;
  height: 25px;
}

.editBtn .icon:hover {
  background-color: var(--hover-secondary-color);
  box-shadow: var(--border-shadow);  
  width: 30px;
  height: 30px;
}

/* smaller screen */
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr; 
      grid-template-areas: 
      "nav"
      "body";
  }

  .layout {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: 
      "sidebar"
      "content";
  }

  .body {
    grid-area: body;
   
  }

  .sideBar {
    grid-area: sidebar;
    background-color: #444; 
    padding: 1rem;
    width: 100%; /* Full width on smaller screens */
    height: auto; 
    position: sticky;
    top: 100vh - 76px;

  }

  .content {
    grid-area: content;
    width: 100%; 
  }
}

/* Default button styling */
.hamburger {
  display: none; 
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* Button visible only on small screens */
@media (max-width: 800px) {
  .hamburger {
    display: block; /* Show button */
    color: white; /* Button text color */
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  .hamburger:hover {
    background-color: var(--hover-secondary-color);
  }
}



/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 114, 114, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; 
}

/* Modal dialog */
.modal-dialog {
  max-width: 500px;          
  width: 100%;               
  margin: 0;                
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Modal content */
.modal-content {
  background-color: var(--primary-color); 
  border-radius: 8px; 
  padding: 20px;
  background-color: var(--light-color);
  color: white;
}

.submitBtn{
  background-color: var(--primary-color); 
  color: var(--text-color);
  border: none;
  box-shadow: var(--shadow);
}